# Ignore Python environment
.venv/

# Bytecode
__pycache__/
*.pyc
*.pyo

# Local env file (contains secrets)
.env

# IDE/editor configs
.vscode/
*.swp

.DS_Store

# Ignore backup folders
My-Portfolio-backup/